body {
    font-family: Arial, sans-serif;
    background-color: #f4f6f9;
    margin: 0;
    padding: 20px;
}


h1 {
    text-align: center;
    margin-bottom: 30px;
}
/* Productos */
#contenedor-productos{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 20px;
    margin-bottom: 40px;
}

.producto {
    background: white;
    padding: 15px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    text-align: center;
    transition: transform 0.2s ease;
}

.producto:hover {
    transform: scale(1.05);
}

.producto button {
    background-color: #4CAF50;
    color: white;
    border: none;
    padding: 8px 12px;
    border-radius: 5px;
    cursor: pointer;
}

.producto button:hover {
    background-color: #45a049;
}

/* Carro */

#carrito {
    background-color: white;
    padding: 20px;
    border-radius: 10px;

}

.item-carrito {
    border-bottom: 1px solid #ddd;
    padding: 10px 0;
}
#boton-factura {
    margin-top: 15px;
    background-color: #2196F3;
    color: white;
    border: none;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
}

#boton-eliminar {
    margin-top: 15px;
    background-color: #d30000;
    color: white;
    border: none;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
}